<%- include("include/header")%>
<h1>insert student record</h1>
<center>
    <div class="insertdata">
<form method="post" action="/datasave">

    Enter Rollno:<input type="text" name="rn"/>
    <br>
    Enter Name:<input type="text" name="nm"/>
    <br>
    Enter City:<input type="text" name="ct"/>
    <br>
    Enter Fees:<input type="text" name="fs"/>
    <br>
    <button> Datasave!!!</button>


<%-include("include/footer")%>
</center>

</div>



</form>