<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="crud.css">
</head>
<body>
    <div class="mainclass1 ">
      
        <ul>
            <li> <a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="insert">Insert Data</a></li>
           
            <li><a href="display">Display Data</a></li>
            <li><a href="update">Update Data</a></li>
            
          
           <li> <a href ="search"><input type="search" placeholder="Search Data"/></a></li>
            
        </ul>
    
    
        </div>
    </div>
 
    
    

</body>
</html>